#conproj-main-nav {
  background-color: #fff;
  box-shadow: 0 2px 0 rgb(0 0 0 / 10%);
}

#conproj-logo-area {
  padding: 20px;
}

#conproj-logo-area h1 {
  font-size: 30px;
}

#logout-btn {
  color: #ee4335;
}

#username {
  font-size: 15px;
  font-weight: 400;
}
