<div id="new-contact-form">
  <div id="form-header">
    <h2>Add New Contact</h2>
  </div>
  <div>
    <div id="form-div">
      <form [formGroup]="newContactForm">
        <div class="">
          <div class="new-contact-form-group">
            <label>First Name</label>

            <input formControlName="firstname" name="firstname"  placeholder="John"/>
          </div>
          <div class="new-contact-form-group">
            <label>Last Name</label>

            <input formControlName="lastname" name="lastname" placeholder="Brown"/>
          </div>
          <div id="phone-form-group" class="new-contact-form-group">
            <label>Contact #</label>

            <input formControlName="phoneNumber" name="phoneNumber" type="tel" placeholder="000-000-0000"/>
          </div>
        </div>
      </form>
    </div>
    <div id="form-buttons">
      <button id="save-btn" (click)="save()">Save</button>
      <button id="cancel-btn" (click)="cancel()" >Cancel</button>
    </div>
  </div>
</div>
