/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.align-right{
    margin-left: auto;
}

.space-left{
    margin-left: 20px;
}

input.ng-invalid.ng-touched.ng-dirty{
    border-color: red;
}
